.input-customized label{
	position: absolute;
	margin-top: -10px;
	margin-left: 20px;
	background-color: #fff;
}

.input-customized input:focus, .input-customized textarea:focus{ outline: 0; }

.input-customized{
	transition-property: box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

.input-customized:focus-within{ box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }